
#navbar{
    flex-direction: column;
    padding-top: 1rem ;
    padding-bottom: 1rem;
    overflow: hidden;
    height: 80px;
}

#navbar>ul>li>a{

    padding: 1rem;

}

.name>h2{

    font-size: 2.5rem;

}
#home>a{
    text-align: center;
    width: 100%;
}